<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:composite="http://java.sun.com/jsf/core"
        template="">
    <cc:interface>
        <cc:attribute name="bien1"  default="bien1" required="true" shortDescription="bien1" />
        <cc:attribute name="area"  required="true" shortDescription="id" />
        <cc:attribute name="value"  required="true" shortDescription="value" type="com.example.demo.service.TestNameable" />
    </cc:interface>
    <cc:implementation>
        <p:outputPanel id="#{cc.attrs.area}">
            <p:outputLabel value="#{cc.attrs.value.name}" rendered="#{cc.attrs.value.show}"/>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>