<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:cbs="http://java.sun.com/jsf/composite/tag"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport"
              content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="0"/>
    </f:facet>
    <title><h:outputText value="#{msg['message.welcome']}"/></title>
</h:head>
<h:body>
    <p:growl id="messages" showDetail="true" />
    <p:outputLabel value="#{of:formatNumber( helloWorldBean.value, msg['test'])}"/>
    <h:form  enctype="multipart/form-data">
        <p:fileUpload  mode="simple" auto="true"
                       fileUploadListener="#{helloWorldBean.handleFileUpload}"
                       validatorMessage="Loi"
                       converterMessage="Loi" required="loi" update="messages"
                       allowTypes="/(\.|\/)(gif|jpe?g|png|pdf|doc|docx)$/">
        </p:fileUpload>
        <!--<p:fileUpload label="#{msgs['common.uploadImage']}"
                      allowTypes="/(\.|\/)(png|jpg|jpeg)$/"
                      icon="fa fa-upload" auto="true"
                      update="@([id$=messages])"
                      fileUploadListener="#{helloWorldBean.handleFileUpload}">
        </p:fileUpload>-->
    </h:form>
    <h:form prependId="false">
        <p:autoComplete id="themePojo" value="#{helloWorldBean.order}" var="theme"
                        itemLabel="#{theme.id}" itemValue="#{theme}" completeMethod="#{helloWorldBean.orderFind}">
            <o:converter converterId="orderConverter" lstData="#{helloWorldBean.lstorder}"/>
        </p:autoComplete>

        <cbs:test area="testArea" bien1="thanhpham" value="#{helloWorldBean.testNameable}"/>
        <!--<p:outputLabel value="#{helloWorldBean.test}" />-->

        <br />
       <p:commandButton value="Hide" ajax="false"  action="#{helloWorldBean.hello}" update="@([id$=testArea])"/>

    </h:form>

</h:body>
</html>