<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:cbs="http://java.sun.com/jsf/composite/tag"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:body>

</h:body>
</html>